@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 224 49% 100%;
    --foreground: 224 69% 2%;
    --muted: 44 37% 91%;
    --muted-foreground: 44 9% 33%;
    --popover: 0 0% 99%;
    --popover-foreground: 224 69% 1%;
    --card: 0 0% 99%;
    --card-foreground: 224 69% 1%;
    --border: 224 3% 93%;
    --input: 224 3% 93%;
    --primary: 224 83% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 83% 40%;
    --secondary-foreground: 0 0% 0%;
    --accent: 44 83% 40%;
    --accent-foreground: 0 0% 0%;
    --destructive: 10 100% 21%;
    --destructive-foreground: 10 100% 81%;
    --ring: 224 83% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 50% 1%;
    --foreground: 224 30% 100%;
    --muted: 44 37% 9%;
    --muted-foreground: 44 9% 67%;
    --popover: 224 50% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 224 50% 2%;
    --card-foreground: 0 0% 100%;
    --border: 224 3% 10%;
    --input: 224 3% 10%;
    --primary: 224 83% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 83% 40%;
    --secondary-foreground: 0 0% 0%;
    --accent: 44 83% 40%;
    --accent-foreground: 0 0% 0%;
    --destructive: 10 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 224 83% 40%;
  }
}






@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
