@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 212 47% 100%;
    --foreground: 212 55% 4%;
    --muted: 182 31% 86%;
    --muted-foreground: 182 8% 37%;
    --popover: 212 47% 100%;
    --popover-foreground: 212 55% 4%;
    --card: 212 47% 100%;
    --card-foreground: 212 55% 4%;
    --border: 212 9% 92%;
    --input: 212 9% 92%;
    --primary: 212 12% 33%;
    --primary-foreground: 212 12% 93%;
    --secondary: 182 12% 33%;
    --secondary-foreground: 0 0% 100%;
    --accent: 242 12% 33%;
    --accent-foreground: 242 12% 93%;
    --destructive: 10 95% 33%;
    --destructive-foreground: 10 95% 93%;
    --ring: 212 12% 33%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 212 50% 1%;
    --foreground: 212 13% 100%;
    --muted: 182 31% 14%;
    --muted-foreground: 182 8% 63%;
    --popover: 212 50% 1%;
    --popover-foreground: 212 13% 100%;
    --card: 212 50% 1%;
    --card-foreground: 212 13% 100%;
    --border: 212 9% 13%;
    --input: 212 9% 13%;
    --primary: 212 12% 33%;
    --primary-foreground: 212 12% 93%;
    --secondary: 182 12% 33%;
    --secondary-foreground: 0 0% 100%;
    --accent: 242 12% 33%;
    --accent-foreground: 242 12% 93%;
    --destructive: 10 95% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 212 12% 33%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.hover-rotation:hover .hover-rotation-symbol {
  transform: rotate(360deg); /* Rotate the symbol */
  
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
